node_modules
.env
.env.*
!.env.example
.DS_Store
/dist
/apps/**/dist
/apps/**/node_modules
/apps/**/.env
/apps/**/.env.*
!/apps/**/.env.example
/apps/**/.turbo
/apps/**/.cache
/apps/**/.vite
/apps/**/coverage
/apps/**/prisma/dev.db
/apps/**/prisma/dev.db-journal
